* {
  margin: 0;
  padding: 0;
}

:root {
  --black-theme: #272a31 !important;
  --orange-theme: #ec5242 !important;
  --gray-theme: #d3d3d3 !important;
  --pure-white: #fff !important;
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v75/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
}

@font-face {
  font-family: theme-font-1;
  src: url(https://fonts.cdnfonts.com/css/cocogoose);
}

@font-face {
  font-family: theme-font-2;
  src: url(https://fonts.googleapis.com/css?family=Lato);
}

@keyframes awesome-out {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes awesome-out2 {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

@keyframes awesome-out3 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes underline {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #f5f5f5;
}

/* navigation bars */
.pre-nav {
  display: none;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(90deg, #333, #4e4e4e);
  font-size: 14px;
  font-family: theme-font-2, sans-serif;
  height: 30px;
}

.pre-nav a {
  font-size: 14px;
  color: #fff;
  margin: 0 1%;
  transition: 0.2s;
}

.pre-menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 50%;
  padding: 0;
  margin: 0 5% 0 2.5%;
  max-width: 363px;
}

.pre-menu a {
  text-decoration: none;
  color: #fff;
  margin: 0;
}

#google_translate_element select {
  background: inherit;
  color: var(--pure-white);
  border: none;
  border-radius: 3px;
}

li#google_translate_element {
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}

.goog-te-banner-frame {
  display: none !important;
}

#goog-gt-tt,
.goog-te-balloon-frame {
  display: none !important;
}

.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 5;
}

.nav-logo {
  width: 150px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  font-family: theme-font-2, sans-serif;
  height: 71vh;
  padding: 0;
  margin: 0;
}

.menu a {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  color: #272a31;
  text-decoration: none;
  transition: 0.2s;
  align-items: center;
}

.bottom-border {
  width: 0;
  background-color: var(--orange-theme);

  /* border: 1px solid var(--orange-theme); */

  /* border-color: var(--orange-theme); */
}

.nav-btn {
  background-color: #fff;
  font-family: theme-font-1, sans-serif;
  font-size: 18px;
  color: #ec5342;
  width: 150px;
  height: 50px;
  border: 3px solid #ec5342;
  margin-bottom: 10vh;
  transition: 0.2s;
  cursor: pointer;
}

.partner-list li {
  width: 30%;
  margin: 20px 0;
}

.partner-list a {
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: #f5f5f5;
  text-decoration: none;
}

.about-introduction a {
  color: #3d3d3d;
}

.pre-nav a:hover,
.pre-nav a:active,
.pre-menu li:hover,
.pre-menu li:active,
.menu a:hover,
.menu a:active {
  color: var(--orange-theme);
  animation: awesome-out2 0.5s;
}

.parent:hover .bottom-border {
  width: 100%;
  border: 1px solid var(--orange-theme);
  animation: underline 0.5s;
}

.deco-ball-1 {
  position: absolute;
  top: 1%;
  right: 1%;
  background-image: url(./media/hitmark-colorful.png);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: -1;
}

.curtain-deco {
  position: inherit;
  top: 15%;
  right: 59%;
  width: 10%;
  transform: rotate(45deg);
}

nav .deco-ball-1 {
  z-index: 5;
  top: 25vh;
  left: 5%;
}

nav .curtain-deco {
  position: absolute;
  top: 70vh;
  right: 10%;
  width: 60px;
  transform: rotate(45deg);
}

.img-frame {
  position: relative;
}

.burger-container {
  position: fixed;
  font-size: 30px;
  transition: 0.2s;
  cursor: pointer;
  z-index: 10;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 0.5s;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 0.5s, stroke-dashoffset 0.5s;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.ham1.active .top {
  stroke-dashoffset: -98px;
}

.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

.back-img {
  width: 100%;
  margin: 0;
  height: 18.75vw;
}

.img-curtain {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #f5f5f5d0;
  height: 18.75vw;
}

.curtain-hitmark {
  position: inherit;
  right: 15%;
  bottom: 10%;
  width: 7.5%;
}

/* Content start */
.introduction {
  position: relative;
  margin: 0 5%;
}

main h2 {
  font-family: "Lato", sans-serif;
  padding-top: 20px;
  margin-bottom: 0;
}

.introduction h2 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  color: var(--orange-theme);
  margin-top: 0;
}

.introduction h1 {
  display: inline;
  font-family: "COCOGOOSE", sans-serif;
  line-height: 100%;
  font-size: 30px;

  /* color: red; */
  margin: 30px 0 50px 0;
  background: rgb(236, 82, 66);
  background-image: linear-gradient(180deg, rgba(245, 56, 56, 0.6) 11.2%, rgba(234, 192, 117, 1) 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* background-clip : text; */
  color: transparent;
  filter: contrast(192%);
}

.txt-container {
  position: relative;
  background-color: #f5f5f5;
  font-family: "Lato", sans-serif;
  border: 3px solid var(--pure-white);
  z-index: 2;
  font-size: 18px;
  max-width: 900px;
}

.txt-container p {
  font-size: 15px;
  margin: 0 5%;
}

.tag-container {
  position: relative;
  font-family: "Lato", sans-serif;
  color: #6c6c6c;
  padding-bottom: 75px;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

.tag-hitmark {
  position: absolute;
  bottom: 10px;
  left: 15%;
  width: 30px;
}

main i,
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 42px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

main i {
  font-size: 35px;
}

.tag-container i {
  position: absolute;
  bottom: 45px;
  right: 20%;
  font-size: 30px;
  color: #b1b1b1;
}

main {
  background-image: url(./media/hitmar-resized.png);
  background-color: #272a31;
  color: #fff;
  text-align: center;
}

.program-container {
  display: flex;
  flex-direction: column;
}

.main-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f520;
  height: auto;
  margin: 5px 5%;
}

.main-card h3 {
  color: #ec5342;
  font-size: 25px;
  width: 15%;
  margin-right: 5%;
}

.program-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-left: 10px;
}

.h-underline {
  display: flex;
  width: 10%;
  border-color: #ec5342;
  margin: 0 auto 20px auto;
}

.main-card:hover .symbols {
  color: var(--orange-theme);
}

.main-card:hover {
  border: 1px solid var(--gray-theme);
}

.para-containor {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 57%;
  padding: 0;
  margin-left: 39px;
}

.m-card-text {
  width: 95%;
  text-align: left;
  font-size: 1rem;
  margin: 2%;
}

.main-btn {
  align-self: center;
  background-color: #ec5342;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  border: none;
  max-width: 400px;
  width: 75%;
  height: 80px;
  margin-top: 35px;
  margin-bottom: 40px;
  transition: 0.2s;
  cursor: pointer;
}

.main-a {
  display: none;
  font-family: "Lato", sans-serif;
  color: #fff;
  padding: 80px 0;
  transition: 0.2s;
}

.main-a:hover {
  color: var(--orange-theme);
  animation: awesome-out2 0.5s;
}

#trainers {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.about-introduction h1,
.about-introduction h2,
.about-introduction h3 {
  position: relative;
  text-align: center;
  color: #ec5342;
  z-index: 3;
  display: block;
}

#trainers h2 {
  font-family: "Lato", sans-serif;
  margin-bottom: 0;
}

.trainer-info hr {
  text-align: left;
  width: 10%;
  margin-left: 0;
}

.trainer-btn {
  max-width: 400px;
  width: 90%;
  height: 40px;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  margin: 40px 0;
  transition: 0.2s;
  cursor: pointer;
}

.trainer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trainer-card {
  position: relative;
  display: flex;
  flex-direction: row;
  font-family: "Lato", sans-serif;
  margin: 5% 2.5%;
}

.trainer-deco {
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  z-index: 2;
}

.trainer-frame {
  width: 33.33%;
}

.trainer-img {
  position: relative;
  min-width: 115px;
  max-width: 300px;
  width: 30%;
  height: 115px;
  z-index: 3;
  top: 9px;
  left: 10px;
}

.trainer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  height: 34%;
  margin: -7px 1% 0 13%;
}

.trainer-info h4 {
  font-size: 15px;
  font-style: italic;
  color: #ec5342;
  margin: 0;
}

.trainer-para {
  font-size: small;
}

#partner {
  background-color: #272a31;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #fff;
  padding-top: 10px;
}

#partner h2 {
  margin: 0;
}

.partner-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.partner-logo {
  width: 100px;
  height: 100px;
}

.sec,
.sec2 {
  position: relative;
  filter: invert(28%) sepia(0%) saturate(2926%) hue-rotate(0deg) brightness(147%) contrast(211%);
}

.sec {
  top: -20px;
  height: 70px;
  width: 70px;
}

.sec2 {
  top: 0;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Lato", sans-serif;
  background-color: #fff;
}

.footer-logo {
  width: 125px;
  height: 125px;
  padding: 20px 0;
}

.about-introduction {
  position: relative;
  padding-top: 60px;
}

.about-introduction .txt-container {
  background-color: #fff;
  border: 2px solid #d3d3d3;
  margin: 30px auto;
}

.about-introduction .contact {
  text-align: center;
  font-family: "Lato", sans-serif;
}

.deco-ball-2,
.deco-ball-3,
.deco-ball-4,
.deco-ball-5,
.deco-ball-6 {
  position: absolute;
  background-color: #f5f5f5 !important;
  border: none !important;
  border-radius: 50% !important;
  z-index: 1;
}

.deco-ball-2 {
  top: 233px;
  left: 30px;
  background-image: url(./media/hitmark-colorful.png);
  width: 80px;
  height: 80px;
}

.deco-ball-3 {
  top: 261px;
  right: 20px;
  background-image: url(./media/11-chess-board-gray-resized.png);
  width: 50px;
  height: 50px;
}

.deco-ball-4 {
  top: 81px;
  left: 0%;
  background-image: url(./media/11-chess-board-gray-resized.png);
  width: 40px;
  height: 40px;
}

.deco-ball-5 {
  top: 55px;
  right: 6%;
  background-image: url(./media/b-stripes.png);
  width: 35px;
  height: 35px;
}

.deco-ball-6 {
  bottom: 0;
  right: 0;
  background-image: url(./media/o-stripes.png);
  width: 25px;
  height: 25px;
}

#about {
  background-color: #fff;
  text-align: center;
  font-family: "Lato", sans-serif;
  padding-top: 15px;
  padding-bottom: 30px;
  margin-top: 40px;
}

#about h2 {
  width: 75%;
  margin: auto;
}

#about p {
  width: 90%;
  margin: 20px auto;
}

#about p a {
  color: inherit;
  text-decoration: none;
}

#about p a:hover {
  color: var(--orange-theme);
}

.logo-frame {
  background-color: #fff;
  width: 90%;
  border: 2px solid #d3d3d3;
  margin: 0 5%;
}

.about-logo {
  width: 50%;
}

#gallery {
  background-color: #fff;
  text-align: center;
  font-family: "Lato", sans-serif;
  padding-top: 20px;
  margin-top: 1%;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 90%;
  margin: 2.5% auto;
}

.gallery-frame {
  width: 100%;
  position: relative;
  border: 2px solid #d3d3d3;
}

.gallery-img {
  display: block;
  width: 100%;
}

.gallery-curtain {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: #ec5342c0;
  width: 100%;
  height: 100%;
  transition: 0.2s;
}

.gallery-curtain:hover {
  opacity: 0;
  animation: awesome-out3 0.5s;
}

.curtain-text {
  font-size: 32px;
  font-family: "COCOGOOSE", sans-serif;
  color: #fff;
}

.hidden,
.invisible {
  display: none;
}

/* responsiveness adjustment */
@media only screen and (min-width: 400px) {
  .deco-ball-1 {
    top: 2%;
  }
}

@media only screen and (min-width: 600px) {
  .deco-ball-1 {
    top: 21%;
    right: 0;
    width: 100px;
    height: 100px;
  }

  .trainer-info h4 {
    font-size: 14px;
    color: #ec5342;
    margin: 3.5% 0;
  }
}

@media screen and (min-width: 769px) {
  .deco-ball-1 {
    top: 33%;
    left: 585px;
    width: 130px;
    height: 130px;
  }

  .curtain-deco {
    top: 69vh;
    right: unset;
    left: 72.5%;
    max-width: 45px;
  }

  .burger-container,
  .cross-container,
  nav .deco-ball-1,
  nav .curtain-deco {
    display: none !important;
  }

  .pre-nav {
    display: flex;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #fff;
    height: 80px;
    position: relative;
    animation: none !important;
  }

  .nav-logo-frame {
    margin-left: 0;
  }

  .nav-logo {
    width: 99px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center;
    list-style-type: none;
    width: 50%;
    height: auto;
    padding: 0;
    gap: 8%;
    margin-left: 6%;
    min-width: 625px;
  }

  .menu a {
    font-size: 18px;
  }

  .nav-btn {
    margin-right: 0;
    margin-bottom: 0;
  }

  main h2 {
    padding-top: 80px;
  }

  .introduction h2 {
    font-size: 40px;
    margin-top: -60px;
  }

  .introduction h1 {
    font-size: 60px;
  }

  .txt-container p {
    font-size: 20px;
  }

  .curtain-hitmark {
    right: 40px;
    bottom: -70px;
    max-width: 53px;
  }

  .tag-container h3 {
    font-size: 32px;
  }

  .tag-container p {
    font-size: 24px;
  }

  .tag-container i {
    right: 60%;
    bottom: 15px;
    font-size: 50px;
  }

  main {
    padding-bottom: 10px;
  }



  main hr {
    margin-bottom: 50px !important;
  }

  .program-container {
    flex-direction: row;
    justify-content: space-evenly;
    width: 95%;
    margin: 0 2.5%;
  }

  .main-card {
    flex-direction: column;
    align-items: center;
    max-width: 290px;
    height: auto;
    padding-top: 10px;
    margin: 0 1px;
  }

  .symbols {
    font-size: 60px;
    width: 90%;
    margin: 0 5%;
  }

  .namaste {
    margin: -161px 0 0 0;
  }

  .deco-ball-2 {
    top: 230px;
    left: -9px;
    width: 100px;
    height: 100px;
  }

  .deco-ball-3 {
    top: 478px;
    right: -10px;
  }

  .deco-ball-6 {
    top: 200px;
  }

  .main-card h3 {
    font-size: 24px;
    width: 90%;
    margin: 10px 0;
  }

  .para-containor {
    margin-left: 0;
  }

  .m-card-text {
    width: 100%;
    margin: 3%;
    padding-left: 11px;
  }

  .main-btn {
    display: none;
  }

  .invisible {
    display: flex;
  }

  .main-a {
    display: block;
    width: 27.5%;
    padding: 0;
    margin: 80px auto;
  }

  #trainers h2 {
    margin-top: 75px;
  }

  .trainer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 20px;
    width: 90%;
    padding: 100px 0;
    margin: auto;
  }

  .trainer-card {
    margin: 0;
  }

  .trainer-card h4 {
    font-size: 18px;
    margin-bottom: 0;
  }

  .trainer-deco {
    width: 85px;
  }

  .trainer-img {
    top: 12px;
    left: 15px;
  }

  .trainer-btn {
    display: none;
  }

  .partner-list {
    flex-wrap: nowrap;
  }

  .sec,
  .sec2 {
    top: -20px;
    height: 70px;
    width: 70px;
  }

  .about-introduction {
    padding-top: 200px;
  }

  .txt-container {
    font-size: 18px;
    max-width: 900px;
  }

  .contact {
    padding-bottom: 50px;
  }

  .logo-frame {
    max-width: 800px;
    margin: 0 auto;
  }

  .gallery-container {
    flex-direction: row;
    justify-content: space-between;
    max-width: none;
  }

  .gallery-frame {
    width: 45%;
    margin: 0 5px;
  }
}
